%html
  %head
    %title
      Cottage Tempature
    %link{:rel => 'http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css'}
  %body
    %div{:id => 'doc', :class => 'yui-t7'}
      %div{:id => "doc", :class => "yui-t1"}
        %div{:id =>"hd", :role => "banner"}
          %h1 Cottage Tempature
        %div{:id => "bd", :role => "main"}
          #yui-main
            .yui-b
              = yield
        %div{:role => "navigation", :class => "yui-b"}
        %div{:id => "ft", :role => "contentinfo"}
          %p Cottage Tempature 2010(C)
      